{
    "openapi": "3.0.0",
    "info": {
        "title": "ValueChecker API",
        "description": "The ValueChecker Application Programming Interface.",
        "version": "0.20.70",
        "x-logo": {
            "url": "https://files.valuechecker.net/images/default-category-images/Value-Checker_top_bar_logo.png",
            "backgroundColor": "#FFFFFF",
            "altText": "ValueChecker logo"
        },
        "contact": {
            "name": "Contact",
            "url": "https://www.valuechecker.net/contact/",
            "email": "support@valuechecker.net"
        }
    },
    "externalDocs": {
        "description": "PDF Documentation (official)",
        "url": "https://www.valuechecker.net/docs/api/pdf"
    },
    "servers": [
        {
            "url": "https://api.valuechecker.net/",
            "description": "ValueChecker API URL."
        }
    ],
    "components": {
        "securitySchemes": {
            "apiKey": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization"
            }
        },
        "parameters": {
            "session-id": {
                "name": "session-id",
                "in": "query",
                "schema": {
                    "type": "string"
                },
                "example": "a1b2c3d4e5f6g7h8i9j0",
                "description": "Optional session identifier of the user."
            },
            "client_id": {
                "name": "client_id",
                "in": "query",
                "schema": {
                    "type": "integer"
                },
                "example": 10
            }
        },
        "responses": {
            "401": {
                "description": "Unauthorized",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string"
                                },
                                "event_code": {
                                    "type": "string"
                                },
                                "event_dict": {
                                    "type": "object",
                                    "properties": {
                                        "event_severity": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "example": {
                            "error": "Invalid Authorization header",
                            "event_code": "ERIT00",
                            "event_dict": {
                                "event_severity": "ERROR",
                                "title": "Invalid Authorization header",
                                "description": "Please provide the right authorization token"
                            }
                        }
                    }
                }
            }
        },
        "schemas": {
            "PriceRange": {
                "type": "object",
                "properties": {
                    "price_min": {
                        "type": "number",
                        "multipleOf": 0.01
                    },
                    "price_max": {
                        "type": "number",
                        "multipleOf": 0.01
                    },
                    "shop_count": {
                        "type": "integer"
                    },
                    "price_date": {
                        "type": "string"
                    }
                }
            },
            "Spec": {
                "type": "object",
                "properties": {
                    "spec_id": {
                        "type": "integer"
                    },
                    "spec_value": {
                        "type": "string"
                    },
                    "spec_value_display": {
                        "type": "string"
                    },
                    "spec_value_numeric": {
                        "type": "number"
                    },
                    "spec_name": {
                        "type": "string"
                    },
                    "spec_name_display": {
                        "type": "string"
                    }
                }
            },
            "SearchSuggestionProduct": {
                "type": "object",
                "properties": {
                    "product_name": {
                        "type": "string"
                    },
                    "pic_url": {
                        "type": "string"
                    },
                    "product_pic_url": {
                        "type": "string"
                    },
                    "pid": {
                        "type": "integer"
                    },
                    "cid": {
                        "type": "integer"
                    },
                    "specs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Spec"
                        }
                    },
                    "price": {
                        "$ref": "#/components/schemas/PriceRange"
                    }
                }
            },
            "SearchProduct": {
                "type": "object",
                "properties": {
                    "product_name": {
                        "type": "string"
                    },
                    "pic_url": {
                        "type": "string"
                    },
                    "product_pic_url": {
                        "type": "string"
                    },
                    "pid": {
                        "type": "integer"
                    },
                    "cid": {
                        "type": "integer"
                    },
                    "specs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Spec"
                        }
                    },
                    "price": {
                        "$ref": "#/components/schemas/PriceRange"
                    },
                    "price_clusters": {
                        "$ref": "#/components/schemas/PriceClusters"
                    },
                    "child_products": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "child_product_contents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SearchSuggestionProduct"
                        }
                    }
                }
            },
            "PriceClusterValue": {
                "type": "object",
                "properties": {
                    "udc_id": {
                        "type": "integer"
                    },
                    "pid": {
                        "type": "integer"
                    },
                    "group": {
                        "type": "string"
                    },
                    "price": {
                        "type": "number",
                        "multipleOf": 0.01
                    },
                    "count": {
                        "type": "integer"
                    },
                    "percentage": {
                        "type": "number"
                    },
                    "min_price": {
                        "type": "number",
                        "multipleOf": 0.01
                    },
                    "max_price": {
                        "type": "number",
                        "multipleOf": 0.01
                    }
                }
            },
            "PriceClusters": {
                "type": "object",
                "properties": {
                    "low": {
                        "$ref": "#/components/schemas/PriceClusterValue"
                    },
                    "medium": {
                        "$ref": "#/components/schemas/PriceClusterValue"
                    },
                    "high": {
                        "$ref": "#/components/schemas/PriceClusterValue"
                    }
                }
            },
            "ClaimedProduct": {
                "type": "object",
                "properties": {
                    "pid": {
                        "type": "integer"
                    },
                    "master_name": {
                        "type": "string"
                    },
                    "product_name": {
                        "type": "string"
                    },
                    "cid": {
                        "type": "integer"
                    },
                    "pic_url": {
                        "type": "string"
                    },
                    "product_pic_url": {
                        "type": "string"
                    },
                    "product_url": {
                        "type": "string"
                    },
                    "specs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Spec"
                        }
                    },
                    "in_stock": {
                        "type": "boolean"
                    },
                    "query_at_limit": {
                        "type": "boolean"
                    }
                }
            },
            "GroupedPricesProduct": {
                "type": "object",
                "properties": {
                    "pid": {
                        "type": "integer"
                    },
                    "sid": {
                        "type": "integer"
                    },
                    "source_internal_id": {
                        "type": "string"
                    },
                    "master_name": {
                        "type": "string"
                    },
                    "product_name": {
                        "type": "string"
                    },
                    "master_pic_url": {
                        "type": "string"
                    },
                    "pic_url": {
                        "type": "string"
                    },
                    "product_pic_url": {
                        "type": "string"
                    },
                    "product_url": {
                        "type": "string"
                    },
                    "brand": {
                        "type": "string"
                    },
                    "price": {
                        "type": "object",
                        "properties": {
                            "price_url": {
                                "type": "string"
                            }
                        }
                    },
                    "rp_first_choice": {
                        "type": "boolean"
                    },
                    "specs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Spec"
                        }
                    },
                    "same_alid_as_cp": {
                        "type": "boolean"
                    },
                    "score_perfect": {
                        "type": "boolean"
                    },
                    "score": {
                        "type": "number"
                    },
                    "is_user_defined_claim": {
                        "type": "boolean"
                    }
                }
            },
            "Shop": {
                "type": "object",
                "properties": {
                    "shop_name": {
                        "type": "string"
                    },
                    "shop_status": {
                        "type": "integer"
                    },
                    "shop_score": {
                        "type": "integer"
                    }
                }
            },
            "PriceListElement": {
                "type": "object",
                "properties": {
                    "shop_product_name": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "total_price": {
                        "type": "number",
                        "multipleOf": 0.01
                    },
                    "base_price": {
                        "type": "number",
                        "multipleOf": 0.01
                    },
                    "price_date": {
                        "type": "string"
                    },
                    "offer_id": {
                        "type": "integer"
                    },
                    "offer_url": {
                        "type": "string"
                    },
                    "international": {
                        "type": "boolean"
                    },
                    "is_refurbished": {
                        "type": "boolean"
                    },
                    "in_stock": {
                        "type": "boolean"
                    },
                    "blocked": {
                        "type": "boolean"
                    },
                    "country_code": {
                        "type": "string"
                    },
                    "product": {
                        "$ref": "#/components/schemas/GroupedPricesProduct"
                    },
                    "shop": {
                        "$ref": "#/components/schemas/Shop"
                    },
                    "filtered_price": {
                        "type": "boolean"
                    },
                    "outside_price_range": {
                        "type": "boolean"
                    }
                }
            },
            "Appraisal": {
                "type": "object",
                "properties": {
                    "appraisal_id": {
                        "type": "integer"
                    },
                    "client_reference_id": {
                        "type": "integer"
                    },
                    "cpid": {
                        "type": "integer"
                    },
                    "rpid": {
                        "type": "integer"
                    },
                    "create_time": {
                        "type": "string"
                    },
                    "update_time": {
                        "type": "string"
                    },
                    "cp_name_cart": {
                        "type": "string"
                    },
                    "rp_name_cart": {
                        "type": "string"
                    },
                    "cp_pic_url": {
                        "type": "string"
                    },
                    "rp_pic_url": {
                        "type": "string"
                    },
                    "is_user_defined_claim": {
                        "type": "boolean"
                    },
                    "item_quantity": {
                        "type": "integer"
                    },
                    "show_price_per_item": {
                        "type": "boolean"
                    },
                    "replacement_cost_value": {
                        "type": "number",
                        "multipleOf": 0.01
                    },
                    "rp_price_date": {
                        "type": "string"
                    },
                    "homepage_client_category_id": {
                        "type": "integer"
                    },
                    "selected_client_category_id": {
                        "type": "integer"
                    },
                    "shop_name": {
                        "type": "string"
                    },
                    "shop_url": {
                        "type": "string"
                    },
                    "is_acv_cp_price_estimate_based": {
                        "type": "boolean"
                    },
                    "is_acv_claimed_damage_based": {
                        "type": "boolean"
                    },
                    "depr_extra_one_year_no_receipt": {
                        "type": "boolean"
                    },
                    "offer_id": {
                        "type": "integer"
                    },
                    "file_count": {
                        "type": "integer"
                    },
                    "row_id": {
                        "type": "integer"
                    }
                }
            }
        }
    },
    "security": [
        {
            "apiKey": []
        }
    ],
    "paths": {
        "/clients": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "Client Information",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:03:35 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "85"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "945ccee0-a255-403b-9a32-863a5f2f2c6a"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "client_id": {
                                                "type": "integer"
                                            },
                                            "client_name": {
                                                "type": "string"
                                            },
                                            "country_code": {
                                                "type": "string"
                                            },
                                            "language": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "client_id": 11,
                                        "client_name": "Demo UK",
                                        "country_code": "uk",
                                        "language": "en"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                }
            }
        },
        "/client_categories": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "All Client Categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:06:13 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "9449"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "45d2892d-2af4-4b0e-9c68-e4bb2fec97de"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "client_category_id": {
                                                "type": "integer",
                                                "description": "This is an identifier used to help group and categorize the millions of consumer products in our database. It will be used as a request parameter in several of our API calls."
                                            },
                                            "client_category": {
                                                "type": "string",
                                                "description": "This is the display name for each product category."
                                            },
                                            "parent_client_category_id": {
                                                "type": "integer"
                                            },
                                            "is_group_category": {
                                                "type": "boolean"
                                            },
                                            "cid": {
                                                "type": "integer",
                                                "description": "The cid is the identifier that matches the `client_category_id` to ValueChecker’s internal product categories. This value is for reference only and can be ignored."
                                            },
                                            "category": {
                                                "type": "string"
                                            },
                                            "api_sort_order": {
                                                "type": "integer"
                                            },
                                            "has_depreciation": {
                                                "type": "boolean"
                                            },
                                            "has_replacement": {
                                                "type": "boolean",
                                                "description": "Shows whether the `client_category_id` is considered a “Replacement category” by ValueChecker. “Replacement Categories” represent product groupings that ValueChecker has defined Like-Kind-and-Quality replacement logic for -- which means a comprehensive search to find relevant Replacement Products based on objective specification values can be completed for products in these categories. All `client_category_id’s` where `has_replacement` = True are considered “Replacement Categories”. Where `has_replacement` = False, ValueChecker is still able to search for the product and find real-time pricing information; however, there is no ability to search for Replacement Products within these categories."
                                            },
                                            "acv_disabled": {
                                                "type": "boolean",
                                                "description": "Informs as to whether the category has depreciation calculations associated with it. Depreciation can be applied in the Calculate ACV call."
                                            },
                                            "show_closest_matches": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "client_category_id": 30893,
                                        "client_category": "Undefined",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 0,
                                        "category": "Undefined",
                                        "api_sort_order": 0,
                                        "has_depreciation": false,
                                        "has_replacement": false,
                                        "acv_disabled": true,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 2740,
                                        "client_category": "Mobile Phones",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4364,
                                        "category": "Cell Phones",
                                        "api_sort_order": 1,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                }
            }
        },
        "/client_reference": {
            "post": {
                "tags": [
                    "default"
                ],
                "summary": "Create Client Reference",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "client_reference",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Reference 321",
                        "description": "This must be unique to your client, otherwise we return an error. The response will contain the client_reference_id which is used in later calls."
                    },
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:10:05 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "66"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "93bb1e26-0d81-4d82-8ada-f40b10eabb50"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "client_reference_id": {
                                            "type": "integer"
                                        },
                                        "client_reference": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "client_reference_id": 9337,
                                    "client_reference": "Reference 321"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "event_code": {
                                            "type": "string"
                                        },
                                        "event_dict": {
                                            "type": "object",
                                            "properties": {
                                                "event_severity": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "error": "Missing parameter",
                                    "description": "The \"client_reference\" parameter is required.",
                                    "event_code": "ERMPCR",
                                    "event_dict": {
                                        "event_severity": "ERROR",
                                        "title": "Missing parameter",
                                        "description": "The client_reference parameter is required."
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                }
            },
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "All Client References",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:11:47 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "179"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "e4a2a557-4d7e-484d-b422-bdbaf32ca397"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "client_reference_id": {
                                            "type": "integer"
                                        },
                                        "client_reference": {
                                            "type": "string"
                                        },
                                        "create_time": {
                                            "type": "string"
                                        },
                                        "update_time": {
                                            "type": "string"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        },
                                        "client_id": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "client_reference_id": 9337,
                                        "client_reference": "Reference 321",
                                        "create_time": "2023-07-25 11:10:05",
                                        "update_time": "2023-07-25 11:10:05",
                                        "user_id": 16459,
                                        "client_id": 11
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                }
            }
        },
        "/client_reference/{client_reference_id}": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "Get Specific Client Reference",
                "parameters": [
                    {
                        "name": "client_reference_id",
                        "in": "path",
                        "schema": {
                            "type": "integer"
                        },
                        "required": true
                    },
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 10:33:35 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "177"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "07b2ea33-1002-44d6-adec-0e8d23b14a87"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "client_reference_id": {
                                            "type": "integer"
                                        },
                                        "client_reference": {
                                            "type": "string"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        },
                                        "client_id": {
                                            "type": "integer"
                                        },
                                        "create_time": {
                                            "type": "string"
                                        },
                                        "update_time": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "client_reference_id": 9337,
                                    "client_reference": "Reference 321",
                                    "user_id": 16459,
                                    "client_id": 11,
                                    "create_time": "2023-07-25 11:10:05",
                                    "update_time": "2023-07-25 11:10:05"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "event_code": {
                                            "type": "string"
                                        },
                                        "event_dict": {
                                            "type": "object",
                                            "properties": {
                                                "event_severity": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "error": "Client reference 14418 was not found",
                                    "event_code": "ERNFCR",
                                    "event_dict": {
                                        "event_severity": "ERROR",
                                        "title": "Wrong \"client_reference_id\" value",
                                        "description": "The \"client_reference_id\" \"14418\" was not found"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/search_suggestion": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "CP: Fast Product Search",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{query}}",
                        "description": "User-input string. The **user** should enter the name of the product being claimed / searched for."
                    },
                    {
                        "name": "client_category",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{client_category}}",
                        "description": "Optional category selected or defined by the **user**."
                    },
                    {
                        "name": "client_category_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "{{client_category_id}}",
                        "description": "Optional correlating ID of the category selected by the **user**."
                    },
                    {
                        "name": "force_client_category",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true,
                        "description": "Optional flag to force the use of the requested category."
                    },
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 10:34:22 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "20567"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "32b26779-c508-42fe-b084-abc52c7c789e"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SearchSuggestionProduct"
                                            }
                                        },
                                        "query": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "results": [
                                        {
                                            "product_name": "Apple iPhone 14 128GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,---.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,---.jpg",
                                            "pid": 1262830543,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 850,
                                                "price_max": 850,
                                                "shop_count": 10,
                                                "price_date": "2022-09-11 20:40:16"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Plus 128GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,---.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,---.jpg",
                                            "pid": 1262830545,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 700,
                                                "price_max": 1200,
                                                "shop_count": 134,
                                                "price_date": "2023-07-20 03:41:22"
                                            }
                                        }
                                    ],
                                    "query": "iphone 14"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "error": "Missing parameter",
                                    "description": "The \"query\" parameter is required."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product_search": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "CP: Extended Product Search (core)",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{query}}",
                        "description": "User-input string. The **user** should enter the name of the product being claimed / searched for."
                    },
                    {
                        "name": "client_category_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "{{client_category_id}}",
                        "description": "Optional correlating ID of the category selected by the **user**."
                    },
                    {
                        "name": "client_category",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{client_category}}",
                        "description": "Optional category selected or defined by the **user**."
                    },
                    {
                        "name": "force_client_category",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        },
                        "example": true,
                        "description": "Optional flag to force the use of the requested category."
                    },
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 10:35:35 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "16972"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "5823ed94-af9a-427d-b9e3-08f8bc70702f"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SearchProduct"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "results": [
                                        {
                                            "pid": 1262830543,
                                            "client_category_id": 4364,
                                            "client_category": "Cell Phones",
                                            "product_name": "Apple iPhone 14 128GB (2022)",
                                            "product_picture_url": "https://img.valuechecker.net/,---.jpg",
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "Brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "Foldable Screen",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "Release Year",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "Storage Capacity",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "Screen Size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 850,
                                                "price_max": 850,
                                                "shop_count": 10,
                                                "price_date": "2022-09-11 20:40:16"
                                            },
                                            "PriceClusters": {
                                                "low": {
                                                    "udc_id": 369929,
                                                    "pid": 1941916191,
                                                    "group": "low",
                                                    "price": 147,
                                                    "count": 31,
                                                    "percentage": 0.76,
                                                    "min_price": 19,
                                                    "max_price": 364
                                                },
                                                "medium": {
                                                    "udc_id": 369930,
                                                    "pid": 1941916191,
                                                    "group": "medium",
                                                    "price": 158,
                                                    "count": 41,
                                                    "percentage": 1,
                                                    "min_price": 19,
                                                    "max_price": 1619
                                                },
                                                "high": {
                                                    "udc_id": 369931,
                                                    "pid": 1941916191,
                                                    "group": "high",
                                                    "price": 1491,
                                                    "count": 5,
                                                    "percentage": 0.12,
                                                    "min_price": 1289,
                                                    "max_price": 1619
                                                }
                                            },
                                            "child_products": [
                                                "Apple iPhone 14 Plus 128GB (PRODUCT)RED",
                                                "Apple iPhone 14 Plus 128GB (PRODUCT)RED Special Edition"
                                            ],
                                            "child_product_contents": []
                                        },
                                        {
                                            "pid": 1262830545,
                                            "client_category_id": 4364,
                                            "client_category": "Cell Phones",
                                            "product_name": "Apple iPhone 14 Plus 128GB (2022)",
                                            "product_picture_url": "https://img.valuechecker.net/,---.jpg",
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "Brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "Release Year",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "Storage Capacity",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "Screen Size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 700,
                                                "price_max": 1200,
                                                "shop_count": 134,
                                                "price_date": "2023-07-20 03:41:22"
                                            },
                                            "child_products": [],
                                            "child_product_contents": []
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "error": "Missing parameter",
                                    "description": "The \"query\" parameter is required."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/prices": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "RP: Replacement Products",
                "parameters": [
                    {
                        "name": "pid",
                        "required": true,
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "1262828314",
                        "description": "The product identifier (usually selected from the product search response)."
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{country}}",
                        "description": "The country in where prices will be searched."
                    },
                    {
                        "name": "client_category",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{client_category}}"
                    },
                    {
                        "name": "client_category_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "{{client_category_id}}"
                    },
                    {
                        "$ref": "#/components/parameters/client_id"
                    },
                    {
                        "$ref": "#/components/parameters/session-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 11:48:58 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "330017"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "5f6962fe-5c32-4d8d-ad17-0bca391b0c19"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "claimed_product": {
                                            "$ref": "#/components/schemas/ClaimedProduct"
                                        },
                                        "grouped_prices": {
                                            "type": "array",
                                            "items": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "#/components/schemas/PriceListElement"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "claimed_product": {
                                        "pid": 1262828314,
                                        "master_name": "",
                                        "product_name": "Apple iPhone 14 Pro Max 1TB",
                                        "cid": 4364,
                                        "pic_url": "https://img.valuechecker.net/,---.jpg",
                                        "product_pic_url": "https://img.valuechecker.net/200x,---.jpg",
                                        "product_url": "https://www.pricerunner.com/pl/1-3202448228/Mobile-Phones/Apple-iPhone-14-Pro-Max-1TB-Compare-Prices",
                                        "specs": [
                                            {
                                                "spec_id": 888,
                                                "spec_value": "Pro",
                                                "spec_value_display": "Pro",
                                                "spec_value_numeric": 2,
                                                "spec_name_display": "Model Family"
                                            },
                                            {
                                                "spec_id": 999,
                                                "spec_value": "36",
                                                "spec_value_display": "Apple",
                                                "spec_value_numeric": 3,
                                                "spec_name_display": "Brand"
                                            },
                                            {
                                                "spec_id": 8300,
                                                "spec_value": "2022-07-01",
                                                "spec_value_display": "2022",
                                                "spec_value_numeric": 1656633600,
                                                "spec_name_display": "Release Year"
                                            },
                                            {
                                                "spec_id": 8000,
                                                "spec_value": "1000000",
                                                "spec_value_display": "1024 GB",
                                                "spec_value_numeric": 1000000,
                                                "spec_name_display": "Storage Capacity"
                                            },
                                            {
                                                "spec_id": 5000,
                                                "spec_value": "17.018",
                                                "spec_value_display": "6.7\"",
                                                "spec_value_numeric": 17.02,
                                                "spec_name_display": "Screen Size"
                                            }
                                        ],
                                        "in_stock": true,
                                        "query_at_limit": false
                                    },
                                    "grouped_prices": [
                                        [
                                            {
                                                "shop_product_name": "Apple iPhone 14 Pro Max (1 TB) - Gold",
                                                "currency": "GBP",
                                                "total_price": 1684.99,
                                                "base_price": 1684.99,
                                                "price_date": "2023-07-25 11:07:41",
                                                "offer_id": 228246862,
                                                "offer_url": "https://offer-staging.valuechecker.net/kihxRTjWvGNjq4Dj7CKanf",
                                                "international": false,
                                                "is_refurbished": false,
                                                "in_stock": true,
                                                "blocked": false,
                                                "country_code": "uk",
                                                "product": {
                                                    "pid": 1263096838,
                                                    "sid": 44001,
                                                    "source_internal_id": "3202448228",
                                                    "master_name": "Apple iPhone 14 Pro Max 1024GB (2022)",
                                                    "product_name": "Apple iPhone 14 Pro Max 1024GB (2022)",
                                                    "master_pic_url": "https://img.valuechecker.net/200x,---.jpg",
                                                    "pic_url": "https://img.valuechecker.net/,---.jpg",
                                                    "product_pic_url": "https://img.valuechecker.net/200x,---.jpg",
                                                    "product_url": "https://offer.valuechecker.net/kihxRTjWvGNjq4Dj7CKanf",
                                                    "brand": "Apple",
                                                    "price": {
                                                        "price_url": "https://offer.valuechecker.net/kihxRTjWvGNjq4Dj7CKanf"
                                                    },
                                                    "rp_first_choice": true,
                                                    "specs": [
                                                        {
                                                            "spec_id": 888,
                                                            "spec_value_display": "Pro",
                                                            "spec_value_numeric": 2,
                                                            "spec_name_display": "Model Family"
                                                        },
                                                        {
                                                            "spec_id": 999,
                                                            "spec_value_display": "Apple",
                                                            "spec_value_numeric": 3,
                                                            "spec_name_display": "Brand"
                                                        },
                                                        {
                                                            "spec_id": 8300,
                                                            "spec_value_display": "2022",
                                                            "spec_value_numeric": 1656633600,
                                                            "spec_name_display": "Release Year"
                                                        },
                                                        {
                                                            "spec_id": 8000,
                                                            "spec_value_display": "1024 GB",
                                                            "spec_value_numeric": 1000000,
                                                            "spec_name_display": "Storage Capacity"
                                                        },
                                                        {
                                                            "spec_id": 5000,
                                                            "spec_value_display": "6.7\"",
                                                            "spec_value_numeric": 17.02,
                                                            "spec_name_display": "Screen Size"
                                                        }
                                                    ],
                                                    "same_alid_as_cp": true,
                                                    "score_perfect": true,
                                                    "score": 12459,
                                                    "is_user_defined_claim": false
                                                },
                                                "shop": {
                                                    "shop_name": "Amazon UK",
                                                    "shop_status": 1,
                                                    "shop_score": 0
                                                },
                                                "filtered_price": false,
                                                "outside_price_range": false
                                            },
                                            {
                                                "shop_product_name": "Apple iPhone 14 Pro Max (1 TB) - Deep Purple",
                                                "currency": "GBP",
                                                "total_price": 1684.99,
                                                "base_price": 1684.99,
                                                "price_date": "2023-07-25 11:07:41",
                                                "offer_id": 228246863,
                                                "offer_url": "https://offer-staging.valuechecker.net/dAkKadvB66xaQJoaQF5BrG",
                                                "international": false,
                                                "is_refurbished": false,
                                                "in_stock": true,
                                                "blocked": false,
                                                "country_code": "uk",
                                                "product": {
                                                    "pid": 1263096838,
                                                    "sid": 44001,
                                                    "source_internal_id": "3202448228",
                                                    "master_name": "Apple iPhone 14 Pro Max 1024GB (2022)",
                                                    "product_name": "Apple iPhone 14 Pro Max 1024GB (2022)",
                                                    "master_pic_url": "https://img.valuechecker.net/200x,---.jpg",
                                                    "pic_url": "https://img.valuechecker.net/,---.jpg",
                                                    "product_pic_url": "https://img.valuechecker.net/200x,---.jpg",
                                                    "product_url": "https://offer-staging.valuechecker.net/dAkKadvB66xaQJoaQF5BrG",
                                                    "brand": "Apple",
                                                    "price": {
                                                        "price_url": "https://offer-staging.valuechecker.net/dAkKadvB66xaQJoaQF5BrG"
                                                    },
                                                    "rp_first_choice": true,
                                                    "specs": [
                                                        {
                                                            "spec_id": 888,
                                                            "spec_value_display": "Pro",
                                                            "spec_value_numeric": 2,
                                                            "spec_name_display": "Model Family"
                                                        },
                                                        {
                                                            "spec_id": 999,
                                                            "spec_value_display": "Apple",
                                                            "spec_value_numeric": 3,
                                                            "spec_name_display": "Brand"
                                                        },
                                                        {
                                                            "spec_id": 8300,
                                                            "spec_value_display": "2022",
                                                            "spec_value_numeric": 1656633600,
                                                            "spec_name_display": "Release Year"
                                                        },
                                                        {
                                                            "spec_id": 8000,
                                                            "spec_value_display": "1024 GB",
                                                            "spec_value_numeric": 1000000,
                                                            "spec_name_display": "Storage Capacity"
                                                        },
                                                        {
                                                            "spec_id": 5000,
                                                            "spec_value_display": "6.7\"",
                                                            "spec_value_numeric": 17.02,
                                                            "spec_name_display": "Screen Size"
                                                        }
                                                    ],
                                                    "same_alid_as_cp": true,
                                                    "score_perfect": true,
                                                    "score": 12459,
                                                    "is_user_defined_claim": false
                                                },
                                                "shop": {
                                                    "shop_name": "Amazon UK",
                                                    "shop_status": 1,
                                                    "shop_score": 0
                                                },
                                                "filtered_price": false,
                                                "outside_price_range": false
                                            }
                                        ]
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "event_code": {
                                            "type": "string"
                                        },
                                        "event_dict": {
                                            "type": "object",
                                            "properties": {
                                                "event_severity": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "error": "Missing parameter",
                                    "description": "The \"pid\" parameter is required.",
                                    "event_code": "ERMPPR",
                                    "event_dict": {
                                        "event_severity": "ERROR",
                                        "title": "Missing parameter",
                                        "description": "The \"pid\" parameter is required."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/client_reference/{client_reference_id}/appraisal": {
            "post": {
                "tags": [
                    "default"
                ],
                "summary": "Create Appraisal",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_reference_id": {
                                        "type": "string"
                                    },
                                    "cpid": {
                                        "type": "string",
                                        "description": "This is the Claimed Product Identifier. You should have this value from the previous response Step 3: (RP) from field `claimed_product.pid`."
                                    },
                                    "rpid": {
                                        "type": "string",
                                        "description": "This is the Replacement Product Identifier. The previous response should have one or more Replacement Products. You should take the value from whichever product you select from field `grouped_prices.[Y].[X].pid` (where X is the numbered product of the Y numbered group)."
                                    },
                                    "homepage_client_category_id": {
                                        "type": "integer"
                                    },
                                    "selected_client_category_id": {
                                        "type": "integer"
                                    },
                                    "item_quantity": {
                                        "type": "integer"
                                    },
                                    "is_price_per_item": {
                                        "type": "boolean"
                                    },
                                    "rp_name_cart": {
                                        "type": "string"
                                    },
                                    "offer_id": {
                                        "type": "string"
                                    },
[...]
