{
    "openapi": "3.0.0",
    "info": {
        "title": "ValueChecker API",
        "description": "ValueChecker public API.",
        "version": "x.y.z",
        "x-logo": {
            "url": "https://www.valuechecker.net/wp-content/uploads/2021/03/ValueChecker-Standard-SVG-NY-2.svg",
            "backgroundColor": "#FFFFFF",
            "altText": "ValueChecker logo"
        },
        "contact": {
            "name": "Support",
            "email": "support@valuechecker.net"
        }
    },
    "servers": [
        {
            "url": "https://api.valuechecker.net/",
            "description": "ValueChecker public API URL."
        }
    ],
    "paths": {
        "/clients": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "/clients",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer JWT TOKEN"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.15.7"
                                }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:03:35 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "85"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "945ccee0-a255-403b-9a32-863a5f2f2c6a"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": [
                                    {
                                        "client_id": 11,
                                        "client_name": "Demo UK",
                                        "country_code": "uk",
                                        "language": "en"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/client_categories": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "/client_categories",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer JWT TOKEN"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{client_id}}"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.15.7"
                                }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:06:13 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "9449"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "45d2892d-2af4-4b0e-9c68-e4bb2fec97de"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": [
                                    {
                                        "client_category_id": 12908,
                                        "client_category": "IKEA products",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 2100,
                                        "category": "Furniture",
                                        "api_sort_order": 0,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 30893,
                                        "client_category": "Undefined",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 0,
                                        "category": "Undefined",
                                        "api_sort_order": 0,
                                        "has_depreciation": false,
                                        "has_replacement": false,
                                        "acv_disabled": true,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 2740,
                                        "client_category": "Mobile Phones",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4364,
                                        "category": "Cell Phones",
                                        "api_sort_order": 1,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 17900,
                                        "client_category": "Power Tools",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 430001,
                                        "category": "Power Tools",
                                        "api_sort_order": 1,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 2737,
                                        "client_category": "Televisions",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4485,
                                        "category": "TVs",
                                        "api_sort_order": 2,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12922,
                                        "client_category": "Clothes",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 7777,
                                        "category": "Clothes",
                                        "api_sort_order": 3,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12925,
                                        "client_category": "Furniture",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 2100,
                                        "category": "Furniture",
                                        "api_sort_order": 3,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 2741,
                                        "client_category": "Laptops",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4414,
                                        "category": "Laptops",
                                        "api_sort_order": 3,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12921,
                                        "client_category": "Sports & Outdoors",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4477,
                                        "category": "Sports & Outdoors",
                                        "api_sort_order": 3,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 2743,
                                        "client_category": "Tablets",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 431006,
                                        "category": "Tablets",
                                        "api_sort_order": 3,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12973,
                                        "client_category": "Garage & Garden",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4401,
                                        "category": "Home & Garden",
                                        "api_sort_order": 4,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 11484,
                                        "client_category": "Headphones & AirPods",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4398,
                                        "category": "Headphones & Headsets",
                                        "api_sort_order": 4,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": false
                                    },
                                    {
                                        "client_category_id": 11567,
                                        "client_category": "Smartwatches",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 431051,
                                        "category": "Smart Watches",
                                        "api_sort_order": 4,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": false
                                    },
                                    {
                                        "client_category_id": 2742,
                                        "client_category": "Sunglasses",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 3501,
                                        "category": "Sunglasses",
                                        "api_sort_order": 4,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": false
                                    },
                                    {
                                        "client_category_id": 12916,
                                        "client_category": "Watches",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 431056,
                                        "category": "Watches",
                                        "api_sort_order": 4,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12879,
                                        "client_category": "Apple Desktops (iMacs)",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4374,
                                        "category": "Desktop Computers",
                                        "api_sort_order": 5,
                                        "has_depreciation": false,
                                        "has_replacement": true,
                                        "acv_disabled": true,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12932,
                                        "client_category": "Game Consoles",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4390,
                                        "category": "Game Consoles",
                                        "api_sort_order": 5,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 11481,
                                        "client_category": "GoPro's & Camcorders",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4349,
                                        "category": "Camcorders",
                                        "api_sort_order": 5,
                                        "has_depreciation": false,
                                        "has_replacement": true,
                                        "acv_disabled": true,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12911,
                                        "client_category": "Halfords products",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 7773,
                                        "category": "Child Car Seats",
                                        "api_sort_order": 5,
                                        "has_depreciation": false,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 2739,
                                        "client_category": "Cameras",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4376,
                                        "category": "Digital Cameras",
                                        "api_sort_order": 6,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 2738,
                                        "client_category": "Bicycles (beta)",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 43256,
                                        "category": "Bicycles",
                                        "api_sort_order": 8,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 11263,
                                        "client_category": "Dishwashers",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 410006,
                                        "category": "Dishwashers",
                                        "api_sort_order": 9,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 11980,
                                        "client_category": "Hobs",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 7771,
                                        "category": "Hobs",
                                        "api_sort_order": 9,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 11265,
                                        "client_category": "Tumble Dryers",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 410012,
                                        "category": "Tumble Dryers",
                                        "api_sort_order": 9,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 11264,
                                        "client_category": "Washing Machines",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 410011,
                                        "category": "Washing Machines",
                                        "api_sort_order": 9,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12903,
                                        "client_category": "Child Car Seats (beta)",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 7773,
                                        "category": "Child Car Seats",
                                        "api_sort_order": 11,
                                        "has_depreciation": true,
                                        "has_replacement": true,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 32097,
                                        "client_category": "Screen Repair - Mobile Phone",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 7764,
                                        "category": "Screen Repair Phones",
                                        "api_sort_order": 40,
                                        "has_depreciation": false,
                                        "has_replacement": true,
                                        "acv_disabled": true,
                                        "show_closest_matches": false
                                    },
                                    {
                                        "client_category_id": 2735,
                                        "client_category": "All Other Products",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 0,
                                        "category": "Undefined",
                                        "api_sort_order": 99,
                                        "has_depreciation": false,
                                        "has_replacement": false,
                                        "acv_disabled": true,
                                        "show_closest_matches": false
                                    },
                                    {
                                        "client_category_id": 2736,
                                        "client_category": "Audio, Video & Electronics",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4403,
                                        "category": "HiFi Audio",
                                        "api_sort_order": 99,
                                        "has_depreciation": true,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": false
                                    },
                                    {
                                        "client_category_id": 12878,
                                        "client_category": "Desktop Computers / PC's",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 4374,
                                        "category": "Desktop Computers",
                                        "api_sort_order": 99,
                                        "has_depreciation": false,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 12926,
                                        "client_category": "Jewellery",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 7779,
                                        "category": "Jewellery",
                                        "api_sort_order": 99,
                                        "has_depreciation": false,
                                        "has_replacement": false,
                                        "acv_disabled": false,
                                        "show_closest_matches": true
                                    },
                                    {
                                        "client_category_id": 11498,
                                        "client_category": "Popular Products (e.g. Apple Watches & AirPods)",
                                        "parent_client_category_id": 0,
                                        "is_group_category": false,
                                        "cid": 0,
                                        "category": "Undefined",
                                        "api_sort_order": 99,
                                        "has_depreciation": false,
                                        "has_replacement": true,
                                        "acv_disabled": true,
                                        "show_closest_matches": false
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/client_reference": {
            "post": {
                "tags": [
                    "default"
                ],
                "summary": "/client_reference",
                "requestBody": {
                    "content": {}
                },
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer JWT TOKEN"
                    },
                    {
                        "name": "client_reference",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Reference 321"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.15.7"
                                }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:10:05 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "66"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "93bb1e26-0d81-4d82-8ada-f40b10eabb50"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "client_reference_id": 9337,
                                    "client_reference": "Reference 321"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "/client_reference",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer JWT TOKEN"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.15.7"
                                }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 09:11:47 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "179"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "e4a2a557-4d7e-484d-b422-bdbaf32ca397"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": [
                                    {
                                        "client_reference_id": 9337,
                                        "client_reference": "Reference 321",
                                        "create_time": "2023-07-25 11:10:05",
                                        "update_time": "2023-07-25 11:10:05",
                                        "user_id": 16459,
                                        "client_id": 11
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/client_reference/{client_reference_id}": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "/client_reference/{client_reference_id}",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer JWT TOKEN"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{client_id}}"
                    },
                    {
                        "name": "client_reference_id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.15.7"
                                }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 10:33:35 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "177"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "07b2ea33-1002-44d6-adec-0e8d23b14a87"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "client_reference_id": 9337,
                                    "client_reference": "Reference 321",
                                    "user_id": 16459,
                                    "client_id": 11,
                                    "create_time": "2023-07-25 11:10:05",
                                    "update_time": "2023-07-25 11:10:05"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/search_suggestion": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "/search_suggestion",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Bearer JWT TOKEN"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{query}}"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "{{client_id}}"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.15.7"
                                }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 25 Jul 2023 10:34:22 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Content-Length": {
                                "schema": {
                                    "type": "integer",
                                    "example": "20567"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "x-request-id": {
                                "schema": {
                                    "type": "string",
                                    "example": "32b26779-c508-42fe-b084-abc52c7c789e"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "product_name": "Apple iPhone 14 128GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,syivyZDu0tXohEqbCPnmlC2JLCyYdXbFHJcFTIwp8kmA=/https://ii.alatest.com/product/90x90/3/d/Apple-iPhone-14-402122478.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,s729FB9yPz7Vz2d5zAbxk8sc3P4TWNIkpMvFowDFwpPk=/https://pricespy-75b8.kxcdn.com/product/standard/280/6012343.jpg",
                                            "pid": 1262830543,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 850,
                                                "price_max": 850,
                                                "shop_count": 10,
                                                "price_date": "2022-09-11 20:40:16"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Plus 128GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sW4Ln7Mg2A6Y6JwvwOTIZOrxm407XNw3j_em1qoIc3e0=/https://ii.alatest.com/product/90x90/b/e/Apple-iPhone-12-Pro-Max-401928612.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,s4RQAXtE8iCNRllZ7VNCb7G1UxnuQn8J2LwvNwWlMIlI=/https://pricespy-75b8.kxcdn.com/product/standard/280/6031972.jpg",
                                            "pid": 1262830545,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 700,
                                                "price_max": 1200,
                                                "shop_count": 134,
                                                "price_date": "2023-07-20 03:41:22"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 256GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,syivyZDu0tXohEqbCPnmlC2JLCyYdXbFHJcFTIwp8kmA=/https://ii.alatest.com/product/90x90/3/d/Apple-iPhone-14-402122478.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sh_hcUN9FrrI2_GMaH9E0mWa1EK7FbB6W_DAMDFZuMk0=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054041.jpg",
                                            "pid": 1262830617,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "256000",
                                                    "spec_value_display": "256 GB",
                                                    "spec_value_numeric": 256000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 950,
                                                "price_max": 950,
                                                "shop_count": 3,
                                                "price_date": "2022-09-11 20:32:07"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Plus 256GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sW4Ln7Mg2A6Y6JwvwOTIZOrxm407XNw3j_em1qoIc3e0=/https://ii.alatest.com/product/90x90/b/e/Apple-iPhone-12-Pro-Max-401928612.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sk7jtSbpMTbO3DoP2ibzBeOrJJPc3oyt0FpNA66heVq0=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054043.jpg",
                                            "pid": 1262830619,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "256000",
                                                    "spec_value_display": "256 GB",
                                                    "spec_value_numeric": 256000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 800,
                                                "price_max": 1200,
                                                "shop_count": 129,
                                                "price_date": "2023-07-20 03:53:44"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 512GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,syivyZDu0tXohEqbCPnmlC2JLCyYdXbFHJcFTIwp8kmA=/https://ii.alatest.com/product/90x90/3/d/Apple-iPhone-14-402122478.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/200x,scVGJa7TUC4gQW7EtF9-Izsdz5ErIPUDoNGiYdaoOvKI=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054040.jpg",
                                            "pid": 1262830616,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "512000",
                                                    "spec_value_display": "512 GB",
                                                    "spec_value_numeric": 512000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 1200,
                                                "price_max": 1200,
                                                "shop_count": 3,
                                                "price_date": "2022-09-11 20:32:06"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Plus 512GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sW4Ln7Mg2A6Y6JwvwOTIZOrxm407XNw3j_em1qoIc3e0=/https://ii.alatest.com/product/90x90/b/e/Apple-iPhone-12-Pro-Max-401928612.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,s8WzFY43AUHgrjHBIgTHIQlWe_hS4gYFnO-W2FvfSCCc=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054042.jpg",
                                            "pid": 1262830618,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "512000",
                                                    "spec_value_display": "512 GB",
                                                    "spec_value_numeric": 512000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 1300,
                                                "price_max": 1400,
                                                "shop_count": 3,
                                                "price_date": "2022-09-11 20:33:38"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Pro 128GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sQOHGvbN3LSAcM6zlC41dCgF4BpRB6N6MKwm00lWcBYs=/https://ii.alatest.com/product/90x90/f/4/Apple-iPhone-2G-1st-Gen-402070681.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sdHKHsUmFUGs4J5Cdh9KUKxyzz6N9xjcux_kXnAmtrDc=/https://pricespy-75b8.kxcdn.com/product/standard/280/6031971.jpg",
                                            "pid": 1262830544,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 888,
                                                    "spec_value": "Pro",
                                                    "spec_value_display": "Pro",
                                                    "spec_value_numeric": 2,
                                                    "spec_name": "model family",
                                                    "spec_name_display": "Model Family"
                                                },
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 700,
                                                "price_max": 1300,
                                                "shop_count": 114,
                                                "price_date": "2023-07-20 03:35:16"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Pro Max 128GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sUIBHADeDzpKFERL-T5CvPtKj4UGf-rvmKmQKhvKEqn0=/https://ii.alatest.com/product/90x90/c/f/Apple-iPhone-13-Mini-401785561.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sVCIdrQUPWrMehp6eDp26dlth01nbFAYkOL6lMy1_exE=/https://pricespy-75b8.kxcdn.com/product/standard/280/6031973.jpg",
                                            "pid": 1262830546,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 888,
                                                    "spec_value": "Pro",
                                                    "spec_value_display": "Pro",
                                                    "spec_value_numeric": 2,
                                                    "spec_name": "model family",
                                                    "spec_name_display": "Model Family"
                                                },
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "128000",
                                                    "spec_value_display": "128 GB",
                                                    "spec_value_numeric": 128000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 200,
                                                "price_max": 1500,
                                                "shop_count": 226,
                                                "price_date": "2023-07-23 00:59:56"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Pro 256GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sQOHGvbN3LSAcM6zlC41dCgF4BpRB6N6MKwm00lWcBYs=/https://ii.alatest.com/product/90x90/f/4/Apple-iPhone-2G-1st-Gen-402070681.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sHEr-1npYZ3XzYh8aS3zhL4mL1TIs_hMGEBZp_jQpsho=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054044.jpg",
                                            "pid": 1262830620,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 888,
                                                    "spec_value": "Pro",
                                                    "spec_value_display": "Pro",
                                                    "spec_value_numeric": 2,
                                                    "spec_name": "model family",
                                                    "spec_name_display": "Model Family"
                                                },
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "256000",
                                                    "spec_value_display": "256 GB",
                                                    "spec_value_numeric": 256000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 1100,
                                                "price_max": 1400,
                                                "shop_count": 99,
                                                "price_date": "2023-07-20 03:40:10"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Pro Max 256GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sUIBHADeDzpKFERL-T5CvPtKj4UGf-rvmKmQKhvKEqn0=/https://ii.alatest.com/product/90x90/c/f/Apple-iPhone-13-Mini-401785561.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sNSqAagF2olE2fFcJRhHzXd1ta0Pv_KQZz55kMLWUZZo=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054035.jpg",
                                            "pid": 1262830614,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 888,
                                                    "spec_value": "Pro",
                                                    "spec_value_display": "Pro",
                                                    "spec_value_numeric": 2,
                                                    "spec_name": "model family",
                                                    "spec_name_display": "Model Family"
                                                },
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "256000",
                                                    "spec_value_display": "256 GB",
                                                    "spec_value_numeric": 256000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 1000,
                                                "price_max": 1600,
                                                "shop_count": 106,
                                                "price_date": "2023-07-20 03:37:52"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Pro 512GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sQOHGvbN3LSAcM6zlC41dCgF4BpRB6N6MKwm00lWcBYs=/https://ii.alatest.com/product/90x90/f/4/Apple-iPhone-2G-1st-Gen-402070681.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sXyLo97BaR_1YXVFFQ-Jer9GtqFEPPMLW7U_pqgwUAV0=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054046.jpg",
                                            "pid": 1262830621,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 888,
                                                    "spec_value": "Pro",
                                                    "spec_value_display": "Pro",
                                                    "spec_value_numeric": 2,
                                                    "spec_name": "model family",
                                                    "spec_name_display": "Model Family"
                                                },
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "512000",
                                                    "spec_value_display": "512 GB",
                                                    "spec_value_numeric": 512000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "15.494",
                                                    "spec_value_display": "6.1\"",
                                                    "spec_value_numeric": 15.49,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 1400,
                                                "price_max": 1400,
                                                "shop_count": 8,
                                                "price_date": "2022-09-11 20:43:34"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Pro Max 512GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sUIBHADeDzpKFERL-T5CvPtKj4UGf-rvmKmQKhvKEqn0=/https://ii.alatest.com/product/90x90/c/f/Apple-iPhone-13-Mini-401785561.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/,sm3KXfC8S_pmoBgfRJFIBj7rv_iGZ-wY0zl_Aj5DOpio=/https://pricespy-75b8.kxcdn.com/product/standard/280/7054036.jpg",
                                            "pid": 1262830615,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 888,
                                                    "spec_value": "Pro",
                                                    "spec_value_display": "Pro",
                                                    "spec_value_numeric": 2,
                                                    "spec_name": "model family",
                                                    "spec_name_display": "Model Family"
                                                },
                                                {
                                                    "spec_id": 999,
                                                    "spec_value": "36",
                                                    "spec_value_display": "Apple",
                                                    "spec_value_numeric": 3,
                                                    "spec_name": "brand",
                                                    "spec_name_display": "Brand"
                                                },
                                                {
                                                    "spec_id": 1580,
                                                    "spec_value": "No",
                                                    "spec_value_display": "",
                                                    "spec_value_numeric": 0,
                                                    "spec_name": "",
                                                    "spec_name_display": "Foldable Screen"
                                                },
                                                {
                                                    "spec_id": 8300,
                                                    "spec_value": "2022-07-01",
                                                    "spec_value_display": "2022",
                                                    "spec_value_numeric": 1656633600,
                                                    "spec_name": "release date",
                                                    "spec_name_display": "Release Year"
                                                },
                                                {
                                                    "spec_id": 8000,
                                                    "spec_value": "512000",
                                                    "spec_value_display": "512 GB",
                                                    "spec_value_numeric": 512000,
                                                    "spec_name": "size internal drive",
                                                    "spec_name_display": "Storage Capacity"
                                                },
                                                {
                                                    "spec_id": 5000,
                                                    "spec_value": "17.018",
                                                    "spec_value_display": "6.7\"",
                                                    "spec_value_numeric": 17.02,
                                                    "spec_name": "screen size",
                                                    "spec_name_display": "Screen Size"
                                                }
                                            ],
                                            "price": {
                                                "price_min": 1500,
                                                "price_max": 1700,
                                                "shop_count": 5,
                                                "price_date": "2022-09-11 20:40:16"
                                            }
                                        },
                                        {
                                            "product_name": "Apple iPhone 14 Pro 1024GB (2022)",
                                            "pic_url": "https://img.valuechecker.net/,sQOHGvbN3LSAcM6zlC41dCgF4BpRB6N6MKwm00lWcBYs=/https://ii.alatest.com/product/90x90/f/4/Apple-iPhone-2G-1st-Gen-402070681.jpg",
                                            "product_pic_url": "https://img.valuechecker.net/200x,sGJEdw9-mXK5flDEbzuSjZpKiPBpiWgfJ2ObgOh03LMo=/https://tweakers.net/i/9mGpApVaHPu4ZuhN4vU2nVKYVFU=/fit-in/188x141/filters:strip_icc():fill(white):strip_exif()/i/2005333574.jpeg?f=thumblarge",
                                            "pid": 1262831776,
                                            "cid": 4364,
                                            "specs": [
                                                {
                                                    "spec_id": 888,
                                                    "spec_value": "Pro",
                                                    "spec_value_display": "Pro",
                                                    "spec_value_numeric": 2,
                                                    "spec_name": "model family",
                                                    "spec_name_display": "Model Family"
                                                },
                                                {
                                                    "spec_id": 999,
[...]
